<app-menu></app-menu>
<app-banner-principal></app-banner-principal>

<div class="container-fluid">

  <div class="row justify-content-around">
    <div class="ctn-steps step0  col-md-9">
      <div class="container">
        <br>
        <div class="row">
          <div class="col-sm mt-2 mb-3">
            <h3>
              <div>Búsqueda simple</div>
            </h3>
            <h5>Busque la patente y conocimiento a través del nombre científico.</h5>
          </div>
        </div>
        <tabset>
          <tab heading="Todas las coleciones">

            <div class="row">
              <div class="col-sm mt-2 mb-3">
                <div class="form-row">
                  <div class="form-group col-sm-6">
                    <label>Nombre científico</label>
                    <div>
                      <p-autoComplete
                       [(ngModel)]="vcRecurso"
                       [suggestions]="lstRecursos"
                       field="vcNombreCientifico"
                       (completeMethod)="doSugerencia($event)"
                       [style]="{'width':'100%'}"
                       [inputStyle]="{'width':'100%'}"
                       [minLength]="3"
                        styleClass="wid100"
                        ></p-autoComplete>
                    </div>
                    <small class="form-text text-muted">Se buscará en todas las colecciones.</small>
                  </div>
                  <div class="form-group col-sm-6">
                    <label>Actividad farmacológica</label>
                    <p-multiSelect  defaultLabel="Seleccionar actividad" [options]="lstActividad" [(ngModel)]="lstActividadSelect" optionLabel="vcActividad" [style]="{'width':'100%'}" > </p-multiSelect>
                  </div>

                </div>
                <div class="form-group">
                </div>

                <button type="submit" class="btn btn-primary" style="float:right;" (click)="doBuscarTodaslasColecciones()">Buscar</button>
                <button type="button" class="btn btn-outline-danger" style="float:right;margin-right: 5px;">Limpiar
                </button>
              </div>
            </div>

            <div>
              <!-- <tabset>
                <tab heading="Todos los resultados">


                  <div class="row">
                    <div class="col-sm mt-2 mb-3">
                      <div class="card">
                        <p-table [value]="lstTodasColecciones" [paginator]="true" [rows]="rows"
                            [showCurrentPageReport]="true" [(first)]="first"
                            currentPageReportTemplate="Mostrando {first} de {last} - {totalRecords} registros"
                            [rowsPerPageOptions]="[10,25,50, 100,500, 1000, 2000, 5000, 10000]"
                            styleClass="p-datatable-responsive-todos-colecciones"
                            >
                            <ng-template pTemplate="header">
                                <tr>
                                    <th>Fuente</th>
                                    <th>Recurso</th>
                                    <th>Actividad</th>
                                    <th>Solicitante</th>
                                    <th>Nro. Registro</th>
                                    <th>Fecha Publicación</th>
                                    <th><button type="button" class="btn btn-outline-primary"
                                      style="float:right;margin-bottom: 5px;"><i class="fa fa-file-excel-o"></i></button></th>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-item>
                                <tr>
                                    <td><b>{{item.vcFuente}}</b></td>
                                    <td><div [innerHTML]="item.vcRecurso"></div></td>
                                    <td>{{item.vcActividad}}</td>
                                    <td>{{item.vcColumna3}}</td>
                                    <td>{{item.vcNumero}}</td>
                                    <td>{{item.vcFecha}}</td>
                                    <td><button class="btn" (click)="doVerDetalle(item.nuIdTipoRegistro, item.nuIdRegistro, md_patentes, md_conocimiento)"
                                       ><i class="fa fa-outdent"></i></button></td>
                                </tr>
                                <tr >
                                  <td><b>Resumen:</b></td>
                                    <td colspan="5"><div [innerHTML]="item.vcResumen"></div></td>
                                    <td></td>
                                </tr>
                            </ng-template>
                        </p-table>
                    </div>​
                    </div>
                  </div>
                </tab>

              </tabset> -->
            </div>
          </tab>

        </tabset>



      </div>
    </div>
  </div>
</div>

<!-- aqui la tabla de busquedas gratuitas -->

<div class="container-fluid">
  <!-- Seccion de busqueda -->
  <ng-container *ngIf="isShowTable">

    <!-- Mensaje -->
    <div class="row">
      <div class="col-sm font-mr">
        <div *ngIf="lstTodasColecciones.length < 200; then thenBlock else elseBlock"></div>
        <ng-template #thenBlock>Se encontraron {{lstTodasColecciones.length}} resultados.</ng-template>
        <ng-template #elseBlock>
          <small class="text-muted">Se encontraron {{lstTodasColecciones.length}} resultados.</small>
        </ng-template>
      </div>
    </div>
    <!-- Mensaje -->

    <!-- Acciones -->

    <div class="row text-right">
      <div class="col-sm-12">
        <div *ngIf="lstTodasColecciones.length > 0; then thenBlock_a else elseBlock_a"></div>
        <ng-template #thenBlock_a>
          <p>
            <button type="button" class="btn btn-light" style="margin-right: 3px;" (click)="exportAsXLSXSimple()"
              tooltip="Exportar a excel">
              <span style="font-size: 1em; color: green">
                <i class="fa fa-file-excel-o" aria-hidden="true"></i>
              </span>
            </button>
            <button type="button" class="btn btn-light" style="margin-right: 3px;" (click)="imprimir()"
              tooltip="Imprimir búsqueda">
              <span style="font-size: 1em; color: green">
                <i class="fa fa-print"></i>
              </span>
            </button>
            <button type="button" class="btn btn-light" (click)="showAll()" tooltip="Expandir/Contraer">
              <span style="font-size: 1em; color: green;">

                <i class="fa fa-expand" *ngIf="!isShowAll"></i>
                <i class="fa fa-compress" *ngIf="isShowAll"></i>
              </span>
            </button>
          </p>
        </ng-template>
        <ng-template #elseBlock_a>
        </ng-template>
      </div>
    </div>

    <!-- Acciones -->

    <!-- Tabla de busqueda -->
    <div class="row">
      <div class="col-sm-12">
          <div *ngIf="lstTodasColecciones.length > 0; then thenBlock_b else elseBlock_b"></div>
          <ng-template #thenBlock_b>
        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr class="font-mb">
                <th>#</th>
                <th>Fuente</th>
                <th>Recurso(s)</th>
                <th>Actividad</th>
                <th>Solicitante/Pueblo Indigena/Autor</th>
                <th>Nro. Registro / Nro. Publicación</th>
                <th>Fecha Publicación / Presentación</th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody *ngFor="let item of lstTodasColecciones; let row = index" id="{{row}}">
              <tr (click)="showOne(row)" class="row-hover">
                <th>{{row + 1}}</th>
                <td><b>{{item.vcFuente}}</b></td>
                <td><div [innerHTML]="item.vcRecurso"></div></td>
                <td>{{item.vcActividad}}</td>
                <td>{{item.vcColumna3}}</td>
                <td>{{item.vcNumero}}</td>
                <td>{{item.vcFecha}}</td>
                <td><button class="btn" (click)="doVerDetalle(item.nuIdTipoRegistro, item.nuIdRegistro, md_patentes, md_conocimiento)"
                  ><i class="fa fa-arrows-alt"></i></button></td>
                <td>
                    <div *ngIf="row==idShow || isShowAll; else showIconDown">
                      <i class="fa fa-chevron-up"></i>
                    </div>
                    <ng-template #showIconDown>
                      <i class="fa fa-chevron-down"></i>
                    </ng-template>
                </td>
              </tr>
              <tr *ngIf="row==idShow || isShowAll">
                <td *ngIf="item.nuIdTipoRegistro==1"><b>Resumen: </b></td>
                <td *ngIf="item.nuIdTipoRegistro==2"><b>Descripción: </b></td>
                <td colspan="8">
                  <div [innerHTML]="item.vcResumen"></div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </ng-template>
      <ng-template #elseBlock_b>
      </ng-template>
      </div>
    </div>
    <!-- Tabla de busqueda -->

  </ng-container>
  <!-- Seccion de busqueda -->
</div>



<ng-template #md_patentes>
  <div class="modal-header">
    <div class="form-row">
      <div class="form-group col-sm-12" style="margin-bottom: 0px;">
        <button (click)="doMostrarPatenteFlag()" style="float:right;margin-bottom: 5px;" type="button" class="btn btn-outline-primary pull-right"><i class="fa fa-arrows-alt"></i></button>
        <!-- <button (click)="printToSeccion('')" type="button" style="float:right;margin-bottom: 5px;" class="btn btn-outline-primary pull-right"><i class="fa fa-print"></i></button> -->
      </div>
    </div>
    <!-- <h4 class="modal-title pull-left">Patente</h4> -->
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body" id="print">


  <p-accordion>
    <p-accordionTab header="Datos de la patente" [(selected)]="activeStatePatente[0]">
      <div class="form-row margin_top_10">
        <!-- <div class="form-group col-sm-12">
          <h6>Solicitante</h6>
          <div class="box_brown">
            Maritsabel Antonio
          </div>
        </div> -->
        <div class="form-group col-sm-6">
          <h6>Título (Español)</h6>
          <div class="box_brown">
           {{objPatentes?.lstDatosPatentes[0]?.vcTituloOriginal}}
          </div>
        </div>
        <div class="form-group col-sm-6">
          <h6>Título (Inglés)</h6>
          <div class="box_brown">
            {{objPatentes?.lstDatosPatentes[0]?.vcTituloIngles}}
          </div>
        </div>
        <div class="form-group col-sm-6">
          <h6>Número de publicación</h6>
          <div class="box_brown">
            {{objPatentes?.lstDatosPatentes[0]?.vcPubNumber}}
          </div>
        </div>
        <div class="form-group col-sm-6">
          <h6>Fecha de públicacion</h6>
          <div class="box_brown">
            {{objPatentes?.lstDatosPatentes[0]?.vcPubDate}}
          </div>
        </div>
        <div class="form-group col-sm-6">
          <h6>Reivindicacion</h6>
          <div class="box_brown">
            {{objPatentes?.lstDatosPatentes[0]?.vcIndependentClaims}}
          </div>
        </div>
        <div class="form-group col-sm-6">
          <h6>CIP</h6>
          <div class="box_brown">
            {{objPatentes?.lstDatosPatentes[0]?.vcIpc4}}
          </div>
        </div>

        <div class="form-group col-sm-4">
          <h6>Pub. Country Code</h6>
          <div class="box_brown">
            {{objPatentes?.lstDatosPatentes[0]?.vcPubCountryCode}}
          </div>
        </div>
        <div class="form-group col-sm-4">
          <h6>Pub. Year</h6>
          <div class="box_brown">
            {{objPatentes?.lstDatosPatentes[0]?.vcPubYear}}
          </div>
        </div>
        <div class="form-group col-sm-4">
          <h6>App. Date</h6>
          <div class="box_brown">
            {{objPatentes?.lstDatosPatentes[0]?.vcAppDate}}
          </div>
        </div>
        <div class="form-group col-sm-12">
          <h6>Ventaja técnica</h6>
          <div class="box_brown">
            {{objPatentes?.lstDatosPatentes[0]?.vcVentajaTecnica}}
          </div>
        </div>
        <div class="form-group col-sm-12">
          <h6>Resumen en español</h6>
          <div class="box_brown">
            <p class="mb-0"> {{objPatentes?.lstDatosPatentes[0]?.vcAbstracEspanol}}</p>
          </div>
        </div>
        <div class="form-group col-sm-12">
          <h6>Resumen en inglés</h6>

          <div class="box_brown">
            <p class="mb-0">{{objPatentes?.lstDatosPatentes[0]?.vcAbstracIngles}}</p>
          </div>
        </div>
      </div>
    </p-accordionTab>

    <p-accordionTab header="Recursos Biológicos" [(selected)]="activeStatePatente[1]">
      <div class="form-row margin_top_10">
        <div class="form-group col-sm-3">
          <h6>Nro.</h6>
          <div class="box_brown">
           1
          </div>
        </div>
        <div class="form-group col-sm-9">
          <h6>Nombre cientifico.</h6>
          <div class="box_brown">
           {{objPatentes?.lstDatosPatentes[0]?.vcNombreCientifico}}
          </div>
        </div>
      </div>
    </p-accordionTab>

    <p-accordionTab header="Actividad Farmacológica" [(selected)]="activeStatePatente[2]">
      <div class="form-row margin_top_10">
        <div class="form-group col-sm-3">
          <h6>Nro.</h6>
        </div>
        <div class="form-group col-sm-9">
          <h6>Nombre cientifico.</h6>
        </div>
      </div>
      <div class="form-row margin_top_10" *ngFor="let item of objPatentes?.lstActividadRelacionada; let row=index;">
        <div class="form-group col-sm-3">
          <div class="box_brown">
           {{row+1}}
          </div>
        </div>
        <div class="form-group col-sm-9">
          <div class="box_brown">
           {{item.vcActividad}}
          </div>
        </div>
      </div>
    </p-accordionTab>
</p-accordion>
  </div>
</ng-template>

<ng-template #md_conocimiento>
  <div class="modal-header">
    <div class="form-row">
      <div class="form-group col-sm-12" style="margin-bottom: 0px;">
        <button (click)="doMostrarConocimientoFlag()" style="float:right;margin-bottom: 5px;" type="button" class="btn btn-outline-primary pull-right"><i class="fa fa-arrows-alt"></i></button>
        <!-- <button (click)="printToSeccion('')" type="button" style="float:right;margin-bottom: 5px;" class="btn btn-outline-primary pull-right"><i class="fa fa-print"></i></button> -->
      </div>
    </div>
    <!-- <h4 class="modal-title pull-left">Conocimiento</h4> -->
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
  <p-accordion>
    <p-accordionTab header="Recursos naturales" [(selected)]="activeStateConocimiento[0]">
      <div class="form-row margin_top_10 row_table_bottom">
        <div class="form-group col-sm-2">
          <h6>Nro.</h6>
        </div>
        <div class="form-group col-sm-4">
          <h6>Nombre cientifico</h6>
        </div>
        <div class="form-group col-sm-3">
          <h6>Nombre común</h6>
        </div>
        <div class="form-group col-sm-3">
          <h6>Familia</h6>
        </div>
      </div>
      <div class="form-row margin_top_10 row_table_bottom" *ngFor="let item of objConocimiento?.lstRecursoRelacionado; let row=index;">
        <div class="form-group col-sm-2">
          <div >
           {{row+1}}
          </div>
        </div>
        <div class="form-group col-sm-4">
          <div >
           {{item.vcNombreCientifico}}
          </div>
        </div>
        <div class="form-group col-sm-3">
          <div >
           {{item.vcNombreComun}}
          </div>
        </div>
        <div class="form-group col-sm-3">
          <div >
           {{item.vcNombreFamilia}}
          </div>
        </div>
      </div>
    </p-accordionTab>

    <p-accordionTab header="Descripción" [(selected)]="activeStateConocimiento[1]">
      <div class="form-row margin_top_10">
        <div class="form-group col-sm-12">
          <h6>Descripcion en español</h6>
          <div class="box_brown">
            {{objConocimiento?.lstDescripcion[0]?.vcNombresEspanol}}
          </div>
        </div>
        <div class="form-group col-sm-12">
          <h6>Descripcion en ingles</h6>
          <div class="box_brown">
            {{objConocimiento?.lstDescripcion[0]?.vcNombresIngles}}
          </div>
        </div>
      </div>
    </p-accordionTab>

    <p-accordionTab header="Actividad farmacologica" [(selected)]="activeStateConocimiento[2]">
      <div class="form-row margin_top_10 row_table_bottom">
        <div class="form-group col-sm-2">
          <h6>Nro.</h6>
        </div>
        <div class="form-group col-sm-10">
          <h6>Nombre cientifico.</h6>
        </div>
      </div>
      <div class="form-row margin_top_10 row_table_bottom" *ngFor="let item of objConocimiento?.lstActividadRelacionada; let row=index;">
        <div class="form-group col-sm-2">
          <div>
           {{row+1}}
          </div>
        </div>
        <div class="form-group col-sm-10">
          <div >
           {{item.vcActividad}}
          </div>
        </div>
      </div>
    </p-accordionTab>
    <p-accordionTab header="Bibliografía" [(selected)]="activeStateConocimiento[3]">
      <div class="form-row margin_top_10">
        <div class="form-group col-sm-12">
          <h6>Autor</h6>
          <div class="box_brown">
            {{objConocimiento?.lstBibliografia[0]?.vcAutor}}
          </div>
        </div>
        <div class="form-group col-sm-12">
          <h6>Fuente</h6>
          <div class="box_brown">
            {{objConocimiento?.lstBibliografia[0]?.vcNombreFuente}}
          </div>
        </div>
        <div class="form-group col-sm-6">
          <h6>Editorial</h6>
          <div class="box_brown">
            {{objConocimiento?.lstBibliografia[0]?.vcEditorial}}
          </div>
        </div>
        <div class="form-group col-sm-6">
          <h6>Fecha de publicación</h6>
          <div class="box_brown">
            {{objConocimiento?.lstBibliografia[0]?.vcFechaPublicacion}}
          </div>
        </div>
        <div class="form-group col-sm-12">
          <h6>Lugar de publicación</h6>
          <div class="box_brown">
            {{objConocimiento?.lstBibliografia[0]?.vcLugarPublicacion}}
          </div>
        </div>
        <div class="form-group col-sm-6">
          <h6>Página citada</h6>
          <div class="box_brown">
            {{objConocimiento?.lstBibliografia[0]?.vcPaginaCitada}}
          </div>
        </div>
      </div>
    </p-accordionTab>
    <p-accordionTab header="Archivos" [(selected)]="activeStateConocimiento[4]">
      <div class="form-row margin_top_10 row_table_bottom">
        <div class="form-group col-sm-2">
          <h6>Nro.</h6>
        </div>
        <div class="form-group col-sm-6">
          <h6>Nombre de archivo</h6>
        </div>
        <div class="form-group col-sm-2">
          <h6>Tamaño (Kb)</h6>
        </div>
        <div class="form-group col-sm-2">
          <h6>Acción</h6>
        </div>
      </div>
      <div class="form-row margin_top_10 row_table_bottom" *ngFor="let item of objConocimiento?.lstArchivo; let row=index;">
        <div class="form-group col-sm-2">
          <div>
           {{row+1}}
          </div>
        </div>
        <div class="form-group col-sm-6">
          <div >
           {{item.vcNombreOrigial}}
          </div>
        </div>
        <div class="form-group col-sm-2">
          <div >
           {{item.nuLong}}
          </div>
        </div>
        <div class="form-group col-sm-2">
          <div >
            <button type="button" class="btn btn-outline-primary"
            style="margin-bottom: 5px;"><i class="fa fa-cloud-download"></i></button>
          </div>
        </div>
      </div>
    </p-accordionTab>
  </p-accordion>
  </div>
</ng-template>

