<app-menu></app-menu>
<app-banner-principal></app-banner-principal>

<div class="container-fluid">

  <div class="row justify-content-around">
    <div class="ctn-steps step0  col-md-9">
      <div class="container">
        <br>
        <div class="row">
          <div class="col-sm mt-2 mb-3">
            <h3>
              <div>Busqueda simple</div>
            </h3>
            <h5>Busque la patente y conocimiento a través del nombre científico.</h5>
          </div>
        </div>
        <tabset>
          <tab heading="Todas las coleciones">

            <div class="row">
              <div class="col-sm mt-2 mb-3">
                <div class="form-row">
                  <div class="form-group col-sm-6">
                    <label>Nombre científico</label>
                    <div>
                      <p-autoComplete
                       [(ngModel)]="vcRecurso"
                       [suggestions]="lstRecursos"
                       field="vcNombreCientifico"
                       (completeMethod)="doSugerencia($event)"
                       [style]="{'width':'100%'}"
                       [inputStyle]="{'width':'100%'}"
                       [minLength]="3"
                        styleClass="wid100"
                        ></p-autoComplete>
                    </div>
                    <small class="form-text text-muted">Se búscará en todas las colecciones.</small>
                  </div>
                  <div class="form-group col-sm-6">
                    <label>Actividad farmacológica</label>
                    <p-multiSelect  defaultLabel="Seleccionar actividad" [options]="lstActividad" [(ngModel)]="lstActividadSelect" optionLabel="vcActividad" [style]="{'width':'100%'}" > </p-multiSelect>
                  </div>

                </div>
                <div class="form-group">
                </div>

                <button type="submit" class="btn btn-primary" style="float:right;" (click)="doBuscarTodaslasColecciones()">Buscar</button>
                <button type="button" class="btn btn-outline-danger" style="float:right;margin-right: 5px;">Limpiar
                </button>
              </div>
            </div>

            <div>
              <tabset>
                <tab heading="Todos los resultados">

                  <div class="row">
                    <div class="col-sm mt-2 mb-3">
                      <!-- <div class="row">
                        <div class="col-sm-6">
                          <h5>Se encontrarón 3 resultados.</h5>
                        </div>
                        <div class="col-sm-6">
                          <button type="button" class="btn btn-outline-primary"
                            style="float:right;margin-bottom: 5px;">Imprimir </button>
                        </div>
                      </div> -->

                      <div class="card">
                        <!-- <h5>Programmatic Control</h5> -->
                        <!-- <div class="p-mb-3">
                            <p-button type="button" icon="pi pi-chevron-left" (click)="prev()" [disabled]="isFirstPage()" styleClass="p-button-text"></p-button>
                            <p-button type="button" icon="pi pi-refresh" (click)="reset()" styleClass="p-button-text"></p-button>
                            <p-button type="button" icon="pi pi-chevron-right" (click)="next()" [disabled]="isLastPage()" styleClass="p-button-text"></p-button>
                        </div> -->
                        <p-table [value]="lstTodasColecciones" [paginator]="true" [rows]="rows"
                            [showCurrentPageReport]="true" [(first)]="first"
                            currentPageReportTemplate="Mostrando {first} de {last} - {totalRecords} registros"
                            [rowsPerPageOptions]="[10,25,50]"
                            styleClass="p-datatable-responsive-todos-colecciones"
                            >
                            <ng-template pTemplate="header">
                                <tr>
                                    <th>Fuente</th>
                                    <th>Recurso</th>
                                    <th>Actividad</th>
                                    <th>Solicitante</th>
                                    <th>Nro. Registro</th>
                                    <th>Fecha Publicación</th>
                                    <th><button type="button" class="btn btn-outline-primary"
                                      style="float:right;margin-bottom: 5px;"><i class="fa fa-file-excel-o"></i> Imprimir </button></th>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-item>
                                <tr>
                                    <td><b>{{item.vcFuente}}</b></td>
                                    <td><div [innerHTML]="item.vcRecurso"></div></td>
                                    <td>{{item.vcActividad}}</td>
                                    <td>{{item.vcColumna3}}</td>
                                    <td>{{item.vcNumero}}</td>
                                    <td>{{item.vcFecha}}</td>
                                    <td><button class="btn" ><i class="fa fa-outdent"  (click)="openModal(md_patentes)"></i></button></td>
                                </tr>
                                <tr >
                                  <td><b>Resumen:</b></td>
                                    <td colspan="5"><div [innerHTML]="item.vcResumen"></div></td>
                                    <td></td>
                                </tr>
                            </ng-template>
                        </p-table>
                    </div>​
                    </div>
                  </div>
                </tab>

              </tabset>
            </div>
          </tab>

        </tabset>



      </div>
    </div>
  </div>
</div>


<ng-template #md_patentes>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Patente</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <h5>Programmatic</h5>
<div class="p-py-3">
    <p-button [icon]="activeState[0] ? 'pi pi-minus' : 'pi pi-plus'" (click)="toggle(0)" styleClass="p-button-text" label="Toggle 1st"></p-button>
    <p-button [icon]="activeState[1] ? 'pi pi-minus' : 'pi pi-plus'" (click)="toggle(1)" styleClass="p-button-text p-ml-2" label="Toggle 2st"></p-button>
    <p-button [icon]="activeState[2] ? 'pi pi-minus' : 'pi pi-plus'" (click)="toggle(2)" styleClass="p-button-text p-ml-2" label="Toggle 3st"></p-button>
</div>

<p-accordion>
    <p-accordionTab header="Header I" [(selected)]="activeState[0]">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
            ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
            Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </p-accordionTab>
    <p-accordionTab header="Header II" [(selected)]="activeState[1]">
        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi
            architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione
            voluptatem sequi nesciunt. Consectetur, adipisci velit, sed quia non numquam eius modi.</p>
    </p-accordionTab>
    <p-accordionTab header="Header III" [(selected)]="activeState[2]">
        <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati
            cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio.
            Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus.</p>
    </p-accordionTab>
</p-accordion>

    <!-- <div>
      <tabset>
        <tab heading="Detalle">

          <div class="form-row margin_top_10">
            <div class="form-group col-sm-12">
              <h6>Solicitante</h6>
              <div class="box_brown">
                Maritsabel Antonio
              </div>
            </div>
            <div class="form-group col-sm-6">
              <h6>Título (Español)</h6>
              <div class="box_brown">
                xxxMethod for extracting effective component of maca
              </div>
            </div>
            <div class="form-group col-sm-6">
              <h6>Título (Inglés)</h6>
              <div class="box_brown">
                Method for extracting effective component of maca
              </div>
            </div>
            <div class="form-group col-sm-6">
              <h6>Número de publicación</h6>
              <div class="box_brown">
                124555
              </div>
            </div>
            <div class="form-group col-sm-6">
              <h6>Fecha de públicacion</h6>
              <div class="box_brown">
                10/12/2020
              </div>
            </div>
            <div class="form-group col-sm-6">
              <h6>Reivindicacion</h6>
              <div class="box_brown">
                sssss
              </div>
            </div>
            <div class="form-group col-sm-6">
              <h6>CIP</h6>
              <div class="box_brown">
                KFKFK
              </div>
            </div>

            <div class="form-group col-sm-4">
              <h6>Pub. Country Code</h6>
              <div class="box_brown">
                No hay Información registrada
              </div>
            </div>
            <div class="form-group col-sm-4">
              <h6>Pub. Year</h6>
              <div class="box_brown">
                No hay Información registrada
              </div>
            </div>
            <div class="form-group col-sm-4">
              <h6>App. Date</h6>
              <div class="box_brown">
                ---------------
              </div>
            </div>
            <div class="form-group col-sm-12">
              <h6>Ventaja técnica</h6>
              <div class="box_brown">
                KFKFK
              </div>
            </div>
            <div class="form-group col-sm-12">
              <h6>Resúmen en español</h6>
              <div class="box_brown">
                <p class="mb-0">No hay informacion registrada.</p>
              </div>
            </div>
            <div class="form-group col-sm-12">
              <h6>Resúmen en ingles</h6>

              <div class="box_brown">
                <p class="mb-0">Method for extracting effective component of maca.</p>
              </div>
            </div>
          </div>

        </tab>
        <tab heading="Recursos Biológicos">
          <div class="form-row margin_top_10">
            <div class="form-group col-sm-6">
              <h6>Nombre común</h6>
              <div class="box_brown">
                xxxMethod for extracting effective component of maca
              </div>
            </div>
            <div class="form-group col-sm-6">
              <h6>Nombre cientifico</h6>
              <div class="box_brown">
                Method for extracting effective component of maca
              </div>
            </div>
            <div class="form-group col-sm-12">
              <h6>Nombre familia</h6>
              <div class="box_brown">
                <p class="mb-0">No hay informacion registrada.</p>
              </div>
            </div>
            <div class="form-group col-sm-12">
              <h6>Sinonimos bótanicos</h6>

              <div class="box_brown">
                <p class="mb-0">Method for extracting effective component of maca.</p>
              </div>
            </div>
            <div class="form-group col-sm-6">
              <h6>Reino</h6>

              <div class="box_brown">
                <p class="mb-0">Method for extracting effective component of maca.</p>
              </div>
            </div>
            <div class="form-group col-sm-6">
              <h6>Clase</h6>

              <div class="box_brown">
                <p class="mb-0">Method for extracting effective component of maca.</p>
              </div>
            </div>
          </div>
        </tab>
        <tab heading="Actividad farmacológica">
          <div class="form-row">
            <div class="form-group col-sm-12">
              <h6>Actividad 1</h6>
              <div class="box_brown">
                Mi actividad 1
              </div>

            </div>
            <div class="form-group col-sm-12">
              <h6>Actividad 2</h6>
              <div class="box_brown">
                Mi actividad 2
              </div>

            </div>
            <div class="form-group col-sm-12">
              <h6>Actividad 3</h6>
              <div class="box_brown">
                Mi actividad 3
              </div>

            </div>

          </div>
        </tab>
        <tab heading="Imprimir">
          <div class="form-group col-sm-12">
            <h6>Datos que se imprimirán</h6>
            <div class="box_brown">
              Información a imprimir
            </div>

          </div>
          <div class="form-row">
            <div class="form-group col-sm-12">
              <button type="button" class="btn btn-outline-primary" style="float:right;margin-bottom: 5px;">Imprimir
              </button>
            </div>

          </div>
        </tab>

      </tabset>
    </div>
 -->

  </div>
</ng-template>

<ng-template #md_conocimiento_tradicional>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Conocimiento tradicional</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">

    <div>
      <tabset>
        <tab heading="Información general">

          <div class="form-row margin_top_10">
            <div class="form-group col-sm-12">
              <h6>Solicitante</h6>
              <div class="box_brown">
                Maritsabel Antonio
              </div>
            </div>
            <div class="form-group col-sm-6">
              <h6>Título (Español)</h6>
              <div class="box_brown">
                Alimento: Hoja como verdura
              </div>
            </div>
            <div class="form-group col-sm-6">
              <h6>Título (Inglés)</h6>
              <div class="box_brown">
                No hay informacion registrada
              </div>
            </div>
            <div class="form-group col-sm-6">
              <h6>Nro	Nombre Común</h6>
              <div class="box_brown">
                maca; maka; maca-maca; maino, ayak, chichira, ayak willku, huto-huto, peruvian ginseng
              </div>
            </div>
            <div class="form-group col-sm-6">
              <h6>Nombre Científico</h6>
              <div class="box_brown">
                Lepidium meyenii Walp.
              </div>
            </div>
            <div class="form-group col-sm-6">
              <h6>Familia</h6>
              <div class="box_brown">
                Mi familia
              </div>
            </div>
            <div class="form-group col-sm-6">
              <h6>Reino</h6>
              <div class="box_brown">
              mi reino
              </div>
            </div>



            <div class="form-group col-sm-12">
              <h6>Resúmen en español</h6>
              <div class="box_brown">
                <p class="mb-0">No hay informacion registrada.</p>
              </div>
            </div>
            <div class="form-group col-sm-12">
              <h6>Resúmen en ingles</h6>

              <div class="box_brown">
                <p class="mb-0">Method for extracting effective component of maca.</p>
              </div>
            </div>
          </div>

        </tab>
        <tab heading="Recursos Biológicos">
          <div class="form-row margin_top_10">
            <div class="form-group col-sm-6">
              <h6>Nombre común</h6>
              <div class="box_brown">
                xxxMethod for extracting effective component of maca
              </div>
            </div>
            <div class="form-group col-sm-6">
              <h6>Nombre cientifico</h6>
              <div class="box_brown">
                Method for extracting effective component of maca
              </div>
            </div>
            <div class="form-group col-sm-12">
              <h6>Nombre familia</h6>
              <div class="box_brown">
                <p class="mb-0">No hay informacion registrada.</p>
              </div>
            </div>
            <div class="form-group col-sm-12">
              <h6>Sinonimos bótanicos</h6>

              <div class="box_brown">
                <p class="mb-0">Method for extracting effective component of maca.</p>
              </div>
            </div>
            <div class="form-group col-sm-6">
              <h6>Reino</h6>

              <div class="box_brown">
                <p class="mb-0">Method for extracting effective component of maca.</p>
              </div>
            </div>
            <div class="form-group col-sm-6">
              <h6>Clase</h6>

              <div class="box_brown">
                <p class="mb-0">Method for extracting effective component of maca.</p>
              </div>
            </div>
          </div>
        </tab>
        <tab heading="Bibliografia">
          <div class="form-row margin_top_10">
            <div class="form-group col-sm-12">
              <h6>Detalle 1</h6>
              <div class="box_brown">
                Brack Egg, A, (1999), Diccionario Enciclopédico de Plantas Útiles del Perú , Cusco-Perú., CBC-Centro de Estudios Regionales Andinos "Bartolomé de las Casas"
                <button type="button" class="btn btn-outline-primary"><i class="fa fa-download" aria-hidden="true"></i>
                </button>
              </div>
            </div>

            <div class="form-group col-sm-12">
              <h6>Detalle 2</h6>
              <div class="box_brown">
                Brack Egg, A, (1999), Diccionario Enciclopédico de Plantas Útiles del Perú , Cusco-Perú., CBC-Centro de Estudios Regionales Andinos "Bartolomé de las Casas"
                <button type="button" class="btn btn-outline-primary"><i class="fa fa-download" aria-hidden="true"></i>
                </button>
              </div>
            </div>


          </div>
        </tab>
        <tab heading="Actividad farmacológica">
          <div class="form-row">
            <div class="form-group col-sm-12">
              <h6>Actividad 1</h6>
              <div class="box_brown">
                Mi actividad 1
              </div>

            </div>
            <div class="form-group col-sm-12">
              <h6>Actividad 2</h6>
              <div class="box_brown">
                Mi actividad 2
              </div>

            </div>

          </div>
        </tab>
        <tab heading="Imprimir">
          <div class="form-group col-sm-12">
            <h6>Datos que se imprimirán</h6>
            <div class="box_brown">
              Información a imprimir
            </div>

          </div>
          <div class="form-row">
            <div class="form-group col-sm-12">
              <button type="button" class="btn btn-outline-primary" style="float:right;margin-bottom: 5px;">Imprimir
              </button>
            </div>

          </div>
        </tab>

      </tabset>
    </div>


  </div>
</ng-template>

<ng-template #md_conocimiento_tecnico>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Conocimiento técnico</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">

    <div>
      <tabset>
        <tab heading="Información general">

          <div class="form-row margin_top_10">
            <div class="form-group col-sm-12">
              <h6>Solicitante</h6>
              <div class="box_brown">
                Maritsabel Antonio
              </div>
            </div>
            <div class="form-group col-sm-6">
              <h6>Título (Español)</h6>
              <div class="box_brown">
                Alimento: Hoja como verdura
              </div>
            </div>
            <div class="form-group col-sm-6">
              <h6>Título (Inglés)</h6>
              <div class="box_brown">
                No hay informacion registrada
              </div>
            </div>
            <div class="form-group col-sm-6">
              <h6>Nro	Nombre Común</h6>
              <div class="box_brown">
                maca; maka; maca-maca; maino, ayak, chichira, ayak willku, huto-huto, peruvian ginseng
              </div>
            </div>
            <div class="form-group col-sm-6">
              <h6>Nombre Científico</h6>
              <div class="box_brown">
                Lepidium meyenii Walp.
              </div>
            </div>
            <div class="form-group col-sm-6">
              <h6>Familia</h6>
              <div class="box_brown">
                Mi familia
              </div>
            </div>
            <div class="form-group col-sm-6">
              <h6>Reino</h6>
              <div class="box_brown">
              mi reino
              </div>
            </div>



            <div class="form-group col-sm-12">
              <h6>Resúmen en español</h6>
              <div class="box_brown">
                <p class="mb-0">No hay informacion registrada.</p>
              </div>
            </div>
            <div class="form-group col-sm-12">
              <h6>Resúmen en ingles</h6>

              <div class="box_brown">
                <p class="mb-0">Method for extracting effective component of maca.</p>
              </div>
            </div>
          </div>

        </tab>
        <tab heading="Recursos Biológicos">
          <div class="form-row margin_top_10">
            <div class="form-group col-sm-6">
              <h6>Nombre común</h6>
              <div class="box_brown">
                xxxMethod for extracting effective component of maca
              </div>
            </div>
            <div class="form-group col-sm-6">
              <h6>Nombre cientifico</h6>
              <div class="box_brown">
                Method for extracting effective component of maca
              </div>
            </div>
            <div class="form-group col-sm-12">
              <h6>Nombre familia</h6>
              <div class="box_brown">
                <p class="mb-0">No hay informacion registrada.</p>
              </div>
            </div>
            <div class="form-group col-sm-12">
              <h6>Sinonimos bótanicos</h6>

              <div class="box_brown">
                <p class="mb-0">Method for extracting effective component of maca.</p>
              </div>
            </div>
            <div class="form-group col-sm-6">
              <h6>Reino</h6>

              <div class="box_brown">
                <p class="mb-0">Method for extracting effective component of maca.</p>
              </div>
            </div>
            <div class="form-group col-sm-6">
              <h6>Clase</h6>

              <div class="box_brown">
                <p class="mb-0">Method for extracting effective component of maca.</p>
              </div>
            </div>
          </div>
        </tab>
        <tab heading="Bibliografia">
          <div class="form-row margin_top_10">
            <div class="form-group col-sm-12">
              <h6>Detalle 1</h6>
              <div class="box_brown">
                Brack Egg, A, (1999), Diccionario Enciclopédico de Plantas Útiles del Perú , Cusco-Perú., CBC-Centro de Estudios Regionales Andinos "Bartolomé de las Casas"
                <button type="button" class="btn btn-outline-primary"><i class="fa fa-download" aria-hidden="true"></i>
                </button>
              </div>
            </div>

            <div class="form-group col-sm-12">
              <h6>Detalle 2</h6>
              <div class="box_brown">
                Brack Egg, A, (1999), Diccionario Enciclopédico de Plantas Útiles del Perú , Cusco-Perú., CBC-Centro de Estudios Regionales Andinos "Bartolomé de las Casas"
                <button type="button" class="btn btn-outline-primary"><i class="fa fa-download" aria-hidden="true"></i>
                </button>
              </div>
            </div>


          </div>
        </tab>
        <tab heading="Actividad farmacológica">
          <div class="form-row">
            <div class="form-group col-sm-12">
              <h6>Actividad 1</h6>
              <div class="box_brown">
                Mi actividad 1
              </div>

            </div>
            <div class="form-group col-sm-12">
              <h6>Actividad 2</h6>
              <div class="box_brown">
                Mi actividad 2
              </div>

            </div>

          </div>
        </tab>
        <tab heading="Imprimir">
          <div class="form-group col-sm-12">
            <h6>Datos que se imprimirán</h6>
            <div class="box_brown">
              Información a imprimir
            </div>

          </div>
          <div class="form-row">
            <div class="form-group col-sm-12">
              <button type="button" class="btn btn-outline-primary" style="float:right;margin-bottom: 5px;">Imprimir
              </button>
            </div>

          </div>
        </tab>

      </tabset>
    </div>


  </div>
</ng-template>
