<div class="container-fluid d-print-none">
    <div class="row pt-3 pb-3">
      <div class="col-sm-12">
        <div class="btn-group" dropdown>
          <button id="button-menu-dividers" dropdownToggle type="button" class="btn btn-dark dropdown-toggle"
            aria-controls="dropdown-menu-dividers">
            <i class="material-icons" style="vertical-align: middle;">menu</i>
            <!-- Búsquedas gratuitas  -->
            <span class="caret"></span>
          </button>
          <ul id="dropdown-menu-dividers" *dropdownMenu class="dropdown-menu" role="menu"
            aria-labelledby="button-menu-dividers">
            <!-- <li role="menuitem"><a class="dropdown-item" routerLink="/inicio">Inicio</a></li>
            <div class="dropdown-divider"></div>
            <h6 class="dropdown-header">Documentos</h6> -->
            <li role="menuitem" class="_link"><a class="dropdown-item" target="_blank"  >
                <!-- <img src="./assets/images/obra-literaria.png" draggable="false" width="30"> -->
                Manual de usuario</a>
            </li>
         
          </ul>
        </div>
        <a href="#">
        <img style="border-left: 1px solid #848687; padding-left: 15px;" class="ml-3" src="./assets/images/logo.png"
          draggable="false"  >
        </a>   
          <!-- <button id="btn_logout" *ngIf="blFlagSalir" (click)="outIdass()" class="btn btn-danger float-right">Salir</button> -->
  
         
         
  
      </div>
    </div>
  </div>