  <app-menu ></app-menu>
  <app-banner-principal></app-banner-principal>

  <div class="container" >
    <div class="row justify-content-around">
      <div class="ctn-steps step0  col-md-9">
        <div class="container">
          <br>
          <!-- <div class="row">
            <div class="col-sm mt-3 mb-2 ">
              <br />
              <h1 class="color_blue">Estimado usuario,</h1>
            </div>
          </div> -->
          <div class="row">
            <div class="col-sm mt-2 mb-3">
              <h3 >
                <div >Hola, realiza una búsqueda</div>

                <!-- <span  class="toopltip"  placement="top" popoverTitle="Titulo ejemlo" triggers="mouseenter:mouseleave" popover="Ejemplo" > </span> -->
              </h3>
            </div>
          </div>
        </div>
        <div class="container mt-2 _margin_movil">
          <div class="row">
            <div class="col-sm mb-3  text-center" >

              <div class="sector" >
                <a class="lnkSector text-center" (click)="goToBuscar(1)">
                  <img src="./assets/images/search_easy.svg"  class="_logo_proceso">
                  <img src="./assets/images/search_easy.svg"  class="_m_logo_proceso">
                  <!-- <p class="mt-1 text-center">Documentos</p> -->
                </a>
                <span  class="toopltip"  placement="top"
                triggers="mouseenter:mouseleave" popoverTitle="Soy el titulo"   popover="Popover" > </span>
              </div>


              <div class="sector" >
                <a class="lnkSector text-center" (click)="goToBuscar(2)">
                  <img src="./assets/images/search_advanced.svg"  class="_logo_proceso">
                  <img src="./assets/images/search_advanced.svg"  class="_m_logo_proceso">
                  <!-- <p class="mt-1 text-center">Documentos</p> -->
                </a>
                <span  class="toopltip"  placement="top"
                triggers="mouseenter:mouseleave" popoverTitle="Soy el titulo"   popover="Popover" > </span>
              </div>


            </div>
          </div>

        </div>
      </div>
    </div>
  </div>


